*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head {
    width: 100%;
    position: fixed !important;
    z-index: 9999999;
}
.navbar{
    background-color: #5d92b2;
}
#logo {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: "Merienda", cursive;
    cursor: pointer;
}
#logo:hover {
    color:rgb(218, 72, 177) ;
}


/* a {
    color: white !important;
    font-size: large;
    font-weight: bold;
} */
/* a:hover {
    color: rgb(218, 72, 177) !important;
    text-decoration: underline !important;
} */


.my-Skills{
    width: 100%;
    background-color: #a1a6aa;
    padding: 3%;
}
.my-Skills h2{
    width: 50%;
    color: white;
    font-size: 40px;
    margin: 2% auto;
    text-align: center;
    
}
.my-Skills h2:hover{
    color: rgb(218, 109, 220);
    scale: 1.5;
}
.skill p{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.bg{
    width: 80%;
    height: 40px;
    background-color: black;
    border-radius: 40px;
    margin-bottom: 2%;
}
.bg2{
    height: 100%;
    border-radius:40px ;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.bg-html{
    width: 95%;
    background-color: rgb(6, 127, 87);
    
}
.bg-css{
    width: 85%;
    background-color: rgb(180, 87, 6);

}
.bg-js{
    width: 75%;
    background-color: rgb(95, 171, 204);
}
.bg-bootstrap{
    width: 65%;
    background-color: rgb(42, 227, 18);
}
.projects{
    padding: 6%;
    
}
.projects-child{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;

}
.projects h2{
    width: 50%;
    font-size: 50px;
    margin: 2% auto;
    text-align: center;
}
.projects h2:hover{
    color: rgb(218, 109, 220);
    scale: 1.5;
}
.project{
    margin-bottom: 4%;
    width:350px;
    height: 350px;
    background-color: #a1a6aa;
    border-radius: 20px;
    transition: all 2s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project:hover{
    scale: 1.2;
}
.project .imgg{
    width: 100%;
    height: 60%;
}
.project div img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}
.project .linkk{
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.project .linkk a{
    background-color: chocolate;
    color: white;
    padding: 3% 5%;
    border-radius: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all 1s;
}
.project .linkk a:hover{
    background-color: white;
    color:chocolate;
    text-decoration: none;
    scale: 1.2;

} 
@media screen and (min-width:300px) and (max-width:500px){
    .my-Skills h2{
    font-size: 30px;
    
}
.skill p{
    font-size: 20px;
}
.bg{
    height: 30px;
}
.bg2{
    font-size: 20px;
}
}

